.banner{
    height: 20em;
    background-image: url(../img/banner_portafolio.png);
    background-size: cover;
    background-position: center;
}

i {
    padding-right: 0.5rem;
}

.container{
    margin-left: 3em;
}

p{
    margin-left: 1.6em;
    margin-right: 1.6em;
}

small_2{
line-height: 4em;}

.section-icons {
    text-align: center;
    padding: 50px;
    color: #FFFFFF;
}

.section-icons h2 {
    font-weight: 50;
    font-size: 50px;    
}
